apiVersion: apps/v1

kind: Deployment

metadata:
  name: python-api

spec:
  selector:
    matchLabels:
      app: python-api

  template:
    metadata:
      labels:
        app: python-api

    spec:
      containers:
        - name: python-api
          image: send_py
          imagePullPolicy: Never
